body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: #2C5EA9;
  }

  a:hover{
    text-decoration: underline;
  }

  html {
  scroll-behavior: smooth;
}

  .playfair{
    font-family: 'Playfair Display', serif;
  }

  ::-moz-selection {
  background-color: #2C5EA9;
  color: #fff;
}

::selection {
  background-color: #2C5EA9;
  color: #fff;
}

  .menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    color: #2C5EA9;
    font-size: 20px;
    margin-top: 5px;
  }

  .menu ul li{
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner-boda{
    width: 100%;
    position: relative;
  }

  .banner-img{
    max-width: 100%;
  }

  .banner-txt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .banner-tit{
    font-size: 60px;
    line-height: 63px;
    margin-bottom: 12px;
  }

  .banner-tit-casamos{
    text-transform: uppercase;
  }

  .banner-subtit{
    font-size: 20px;
    font-weight: 300;
  }

  .fecha-container{
    text-align: center;
    padding: 20px;
    border-bottom: 2px #2C5EA9 solid;
  }

  .fecha-subtit{
    font-size: 15px;
  }

  .fecha{
    font-size: 45px;
    font-weight: 700;
    color: #2C5EA9;
  }

  .ubicacion-container{
    display: flex;
    border-bottom: #2C5EA9 solid 2px;
  }

  .ubicacion-drch{
    width: 50%;
  }

  .ubicacion-izq{
    width: 50%;
    padding: 30px;
  }

  .ubicacion-tit{
    text-align: center;
    color: #2C5EA9;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .escenas-img{
    max-width: 100%;
  }

  .info-drch{
    padding: 40px;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #2C5EA9;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url("assets/images/fondo-form.png");
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  input, select, textarea {
    margin-top: 0.3rem;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button {
    background: #e57373;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background: #d64f4f;
  }
  
  .gracias {
    margin-top: 2rem;
    text-align: center;
    font-style: italic;
    color: #666;
  }
  
  /* Modal general */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Contenido del modal */
.modal-contenido {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Botón cerrar (X) */
.cerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Clase para ocultar */
.oculto {
  display: none;
}

/* Botón modal */

.button-container{
  text-align: center;
  margin-bottom: 50px;
}

.boton-modal {
  background-color: #2C5EA9;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}